:root
{
	--shaImgHeadP: 50px;
	--shaImgHeadN: -50px;
}

.principal
{
	background-image: url(../images/headerbackground.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: top;
	display: flex;
	flex-direction: column;
	height: 650px;
}

.bvnWag
{
	height: inherit;
}

h1, h2, h3, h4, h5, h6
{
	font-weight: normal;
}

.logo
{
	margin-right: 40px;
}

nav a
{
	margin-right: 40px;
	font-size: 1.2em;
	text-decoration: none;
	color: #b1bcd1;
	font-family: Quicksand;
	text-shadow: 2px 2px 2px black;
}

nav a:hover
{
	color: white;
	text-decoration: none;
}

nav, .connexion
{
	margin-top: 50px;
}

body
{
	width: 100%;
	height: 1000px;
}

.topnav
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 100px;
}

.navleft
{
	display: flex;
	flex-direction: row;
}

.article1
{
	width: 100%;
	background-color: #232323;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.article1 > nav
{
	margin-top: 0px;
	padding: 20px;
	display: flex;
	flex-direction: row;
}

.slogan > h1
{
	border-top: 2px solid #b1acac;
	padding-top: 10px;
}

.slogan
{
	font-family: SanFrancisco;
	left: 60px !important;
	bottom: 50px !important;
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px 4px black;
	font-size: 3.5em;

}

.liens:hover
{
	text-decoration: none;
}

main
{
	display: block;
}

.navcolor
{
	color: #fff;
}

.shadow-img
{
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset var(--shaImgHeadP) var(--shaImgHeadP) var(--shaImgHeadP) 0 #000, inset var(--shaImgHeadN) var(--shaImgHeadN) var(--shaImgHeadP) 0 #000;
    top: 0;
    left: 0;
}